body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072b5;
}

h1 {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em; /* Responsive font size */
}

.centered-paragraph {
    color: #fff;
    font-weight: bold;
    width: 80%; /* Increased width for better readability */
    margin: auto;
    font-size: 1em; /* Responsive font size */
}

h2 {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em; /* Responsive font size */
}

.centered-content {
    text-align: center;
    display: inline-block;
    width: 100%; /* Full width to accommodate smaller screens */
}

.user-input {
	color: #fff;
	font-weight: bold;
	padding: 10px; /* Adjust as needed */
    width: 0 auto; /* Allows cell to adjust based on content size */
	margin: 0 auto;
}

.user-input td {
	padding: 8px; /* Adjust as needed */
    width: auto; /* Allows cell to adjust based on content size */
}

.user-output {
	color: #fff;
	font-weight: bold;
    padding: 8px;
    margin: 0 auto;
    width: 0 auto; /* Reduced width from 80% to 60% */
}

.user-output td {
    width: auto; /* Each cell occupies half the table's width */
    padding: 8px;
}

input {
    box-sizing: border-box;
}

.mobile-input {
    padding: 12px 16px; /* Increased padding for easier touch */
    font-size: 1em; /* Responsive font size */
    border-radius: 5px;
    width: 100%; /* Full width for mobile */
}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensures the input group spans the entire cell width */
}

.time-input {
    flex-grow: 1; /* Allows each input to grow and fill available space */
    margin-right: 5px;
    text-align: center;
    padding: 10px 15px; /* Increased padding for larger input boxes */
    border-radius: 5px;
    font-size: 1em; /* Larger font size for better readability */
}

.time-input:last-child {
    margin-right: 0; /* Removes margin from the last element to fit perfectly */
}

.mobile-button {
    padding: 12px 20px;
    font-size: 1em; /* Responsive font size */
	font-weight: bold;
    cursor: pointer;
    margin: 10px 5px; /* Adjusted margin for spacing between buttons */
    display: inline-block; /* Allows buttons to be side by side */
    background-color: #cccccc; /* Optional: to match the page's theme */
    color: #000; /* Optional: for better visibility */
    border: 1px solid #fff; /* Optional: adds a border for visual distinction */
    border-radius: 5px; /* Optional: rounds the corners */
}

.mobile-button:active {
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.active-button {
    background-color: #333333;
    color: #ffffff;
}

.colon {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0 5px;
}


@media screen and (max-width: 600px) {
    .centered-paragraph, .user-input, .user-output {
        width: 95%; /* Adjust for very small screens */
    }
    h1, h2 {
        font-size: 1.3em; /* Adjust font size for smaller screens */
    }
    .mobile-input {
        padding: 10px 14px; /* Increase padding for touch accessibility */
		margin-bottom: 12px; 
    }
	.mobile-button {
        font-size: 0.9em; /* Slightly smaller font for very small screens */
        padding: 10px 15px; /* Adjust padding for smaller screens */
    }
}
    .time-input {
        margin-right: 2px; /* Adjust spacing */
    }
}
